<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://192.168.1.7/1920x1080" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="xTU9njgK4b.infoDispositivo" package="xTU9njgK4b" required_version="6.5"/>
    <content src="index.html"/>
    <description>Aplicativo para conocer la informacion fisica del dispositivo para poder ingresar a la señalizacion inteligente de la empres QAPAQ</description>
    
    
    
    
    <icon src="icon.png"/>
    <name xml:lang="es-es">Español</name>
    <name>infoDispositivo</name>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/mediastorage"/>
    <tizen:privilege name="http://tizen.org/privilege/externalstorage"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="auto-rotation" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
